:root {
    --principal: #1b3b36 ;
    --fondo: #f4f1ea;
    --acento: #c28835;
    --texto: #2c2c2c;
    --linea: #d8d3c8;
   
    --radio: 0.6rem;
    --esp-md: 2.4rem;
    --esp-lg: 4rem;
    --esp-xs: 1.6rem;
    --sombra: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Fuentes, familia tipografica */

body {
    font-size: 1.6rem;
    font-family: 'titilium', Arial, sans-serif;
    line-height: 1.6;
    color: var(--texto);
    background-color: var(--fondo);
    text-align: center;
    padding: 2rem;
}

h1, h2, h3 {
    font-family: 'titilium', serif;
    line-height: 1.2;
    color: var(--texto);
}

h1{ font-size: 4rem;  } 
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

p { margin-bottom: 1.6rem; }
a { color: var(--acento); text-decoration: none;}
img { max-width: 100%; height: auto; display: block; } 


/* ENCABEZADO */
.encabezado {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--principal);
}

.logo {
   font-size: 3rem;
   text-align: left;
}

.hero {
    padding: 3rem;
    background-color: ;

}


/* CONTENIDO */




/* TABLA */



/* FORMULARIO */

header #encabezado 
.logo
.navegacion
.boton .boton-pequeno


#inicio 

#destacados .seccion
#encabezado-seccion 
.grid-libros
.tarjeta 
.tarjeta-destacada
.portada .portada-verde
.portada-roja
.portada-morada
.tarjeta-contenido
.categoria
.meta
.enlace

#eventos
.seccion
.seccion-oscura
.encabezado-seccion
.eventos-flex
#boletin
.boletin
#pie
.pie
.eventos-flex
.etiqueta
.evento
.fecha
.boletin-texto
.formulario
.formulario-horizontal
.sr-only
#email-inicio
.redes
.boton-principal